* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 26px;
}

.conteudo {
    width: 80%;
    max-width: 1140px;
    min-width: 60%;
    margin: 0px auto 0px auto;
}

.bloco-de-recurso {
    text-align: center;
    width: 30%;
    margin: 50px 30px 15px 0;
}

.bloco-de-recurso i {
    font-size: 40px;
}

.color-azul {
    color: cyan;
}

.color-roxo {
    color: rgb(192, 6, 192);
}

.color-rosa {
    color: rgba(255, 20, 145, 0.925);
}

.color-amarelo {
    color: gold;
}

.color-verde {
    color: rgba(0, 128, 0, 0.973);
}

.color-laranja {
    color: rgba(255, 160, 122, 0.747);
}

.titulo-bloco-de-recurso {
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 36px;
    font-weight: 600;
}

.todos-os-blocos-de-recursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo-de-sessao {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.titulo {
    margin: 8px 0px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;

}

.sub-titulo{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

/*cabeçalho*/

.cabecalho{
    background-color: white;
    box-shadow: 0px 1px 0px #E5E9F2;
    padding: 26px 0px;
}

.conteudo-do-header,
.conteudo-conquistas,
.blocos-de-numeros{
    display: flex;
    justify-content: space-between;
}

.informacoes-do-cabecalho,
.informacoes-do-cabecalho nav{
    display: flex;
    align-items: center;
}




.informacoes-do-cabecalho img, 
.informacoes-do-cabecalho nav a{
    margin-right: 32px;
}

.informacoes-do-cabecalho nav a{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #18191f;
}

.botoes-lojas a{
    margin-right: 12px;
    text-decoration: none;

}

/* Geral */
.titulo-principal {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 32px;
}

.botao {
    background: #28f5be;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 16px 67px;
    border-radius: 8px;
}

.botao:hover{
    background: #ff3773;
}

/* Banner Principal */
.banner-principal {
    background-image: url(imagens/bg-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner{
    padding-top: 96px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nossas conquistas*/

.todas-nossas-conquistas{
    padding-top: 82px;
    padding-bottom: 82px;
}

.coluna,
.blocos-de-conquistas{
    width: 45%;
}

.blocos-de-numeros{
    flex-wrap: wrap;
}

.blocos-de-conquistas,
.conteudo-vamos-la,
.conteudo-gerencia-projetos{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.blocos-de-conquistas i{
    font-size: 26px;
    margin-right: 16px;
}

/* Vamos lá */

.todo-conteudo-vamos-la{
    padding: 64px 0;
}

.conteudo-vamos-la,
.conteudo-gerencia-projetos{
    justify-content: space-between;
}

.link-roxo{
    font-size: 20px;
    font-weight: bold;
    color: #9B51E0;
    text-decoration: none;
    display: block;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.link-roxo i{
    margin-left: 8px;
    margin-top: 3px;
    
}

/* Gerencia de projetos*/
.todo-conteudo-gerencia-projetos{
    background-color: #FF3773;
    color: #fff;
    padding: 68px 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas{
    margin-top: 48px;
}


/* Rodape */
.rodape{
    background-color: #0B0D17;
    padding: 56px 84px;
    color: #fff;
}

.conteudo-rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-roadape ul{
    list-style: none;
    display: flex;
    margin-bottom: 24px;
}

.menu-roadape ul li{
    margin-right: 24px;
}

.menu-roadape ul li a{
    text-decoration: none;
    color: #fff;
}

.botoes-download-rodape{
display: flex;
flex-direction: column;
}

.botoes-download-rodape a{
    margin-top: 16px;
}

















